
body {
    padding-top: 4rem;
}

.starter-template {
    padding: 0.5rem 0.25rem;
    text-align: center;
}

.my-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropbtn {
    background-color: #8eaf91;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    margin-left: 200px;
    width: 200px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .buttonAddToFavorite {background-color: #5d8e66;}

.table-black:nth-child(even) {
    background-color: #292b2c;
    color: #fff;
}

.text-area_add_new {
    display: inline-block;
}

.lined {
    width: 555px;
    height: 270px;
    font-size: 20px;
    padding: 10px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
}
.textarea{
     width: 555px;
     height: 270px;
     font-size: 20px;
     padding: 10px;
     line-height: 30px;
     border-radius: 3px;
     border: 1px solid #aaaaaa;
 }

.AddNewSongTable
{
    object-position: center;
    top:50%;
    left:50%;
}
.stopka{

    font-size: 10px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.footer{
    background-color: #c6d0ca;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    text-align: right;
}
.buttonAddToFavorite{
    padding: 5px 15px;
    background-color: #8eaf91;
    color: white;
    font-family: great-vibes,sans-serif;
    font-size: 25px;
}
.buttonEdit{
    padding: 5px 15px;
    margin-left: 30px;
    width: 100px;
    background-color: #8eaf91;
    color: white;
    font-family: great-vibes,sans-serif;
    font-size: 25px;

}
.buttonDelete{
    padding: 5px 15px;
    margin-left: 30px;
    width: 100px;
    background-color: #8eaf91;
    color: white;
    font-family: great-vibes,sans-serif;
    font-size: 25px;


}
@font-face{
    font-family: great-vibes;
    src: url("../GreatVibes-Regular.otf") format("truetype");
}

