<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/layout :: head"></div>
    <link href=../css/bootstrap.css rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/layout :: menu"></div>
<div class="clearfix">
    <div class="container">
        <h4 class="text-lg-left">Lista utworów</h4>
    </div>
    <table class="table table-hover" style="width: 30%; float: left; text-align: center; margin-left: 50px">
        <tr th:each="song : ${songId1}">
            <td >
                <a style="color: black" th:href="@{/harcerskieSong/{id}(id=${song.get_id()})}" th:text="${song.getTitle()}"></a>
            </td>
        </tr>
    </table>
    <table class="d-md-table-cell " style="width: auto; float: left; margin-left: 200px; margin-right: 30px">
        <form action="/deleteSong" method="post" id="DeleteForm">
            <input type="hidden" name="songId" id="songId" value=""/>
        </form>
        <div class="dropdown">
            <button class="buttonAddToFavorite" type="submit"
                    name="button_add_Favorite">Dodaj do ulubionych
            </button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <button class="buttonEdit" type="submit" name="button_edit">Edytuj
        </button>
        <button class="buttonDelete" type="submit"
                onclick="if (!confirm('Czy napewno chcesz usunąć tę piosenkę?')) return false"
                name="button_delete" value="true" form="DeleteForm">Usuń
        </button>
        <br><br>
        <tr th:each="verse : ${mySongId1}">
            <td>
                <a th:utext="${verse.getText_of_verse()}"></a>
            </td>
        </tr>
    </table>

    <table class="d-md-table-cell " style="width: auto; float: left">
        <tr th:each="verse : ${mySongId1}">
            <td>
                <a th:utext="${verse.getChords_of_verse()}"></a>
            </td>
        </tr>
    </table>
</div>
<script>
    var url = window.location.href;
    var num = url.lastIndexOf('/');
    document.getElementById("songId").value = url.substring(num+1);
</script>
</body>
<footer th:replace="fragments/layout :: footer"></footer>
</html>