<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/layout :: head"></div>
    <link href=css/bootstrap.css rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/layout :: menu"></div>
<div class="container">
    <h4 class="text-lg-left">Lista utworów</h4>
</div>
<table class="table table-hover" style="width: 30%; float: left; text-align: center; margin-left: 50px">
    <tr th:each="song : ${searchSong}">
        <td >
            <a style="color: black" th:href="${'/searchSong/' + {searchQuery} + '/' + {song.get_id()}}" th:text="${song.getTitle()}"></a>
        </td>
    </tr>
</table>
</body>
<footer th:replace="fragments/layout :: footer"></footer>
</html>