<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/layout :: head"></div>
    <link href=../css/bootstrap.css rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/layout :: menu"></div>
<div class="clearfix">
    <div class="container">
        <h4 class="text-lg-left">Lista utworów</h4>
    </div>
    <table class="table table-hover" style="width: 30%; float: left; text-align: center; margin-left: 50px">
        <tr th:each="song : ${songs}">
            <td>
                <a style="color: black" th:href="@{/song/{id}(id=${song.get_id()})}" th:text="${song.getTitle()}"></a>
            </td>
        </tr>
    </table>
    <table class="d-md-table-cell " style="width: auto; float: left; margin-left: 200px; margin-right: 30px">
        <form id="currentURL" action="/deleteSong" method="post">
            <input type="hidden" name="songId1" id="songId1" value=""/>
        </form>


        <form id="add_favourite" action="/myFavouriteLists/addSong" method="post">
            <input type="hidden" name="songId2" id="songId2" value=""/>
        <div class="dropdown">
            <button class="buttonAddToFavorite" type="button" name="button_add_favourite">Dodaj do ulubionych
            </button>
            <div class="dropdown-content">
                <button class="container" style="width: 460px;" type="submit" th:each="list : ${allLists}" th:utext="${list}"
                        name="name_favourite_list" th:value="${list}" form="add_favourite"></button>
            </div>
        </div>
        </form>

        <button class="buttonEdit" type="submit" name="button_edit">Edytuj
        </button>
        <button class="buttonDelete" type="submit"
                onclick="if (!confirm('Czy napewno chcesz usunąć tę piosenkę?')) return false"
                name="button_delete" value="true" form="currentURL">Usuń
        </button>
        <br><br>
        <tr th:each="verse : ${mySong}">
            <td>
                <a th:utext="${verse.getText_of_verse()}"></a>
            </td>
        </tr>
    </table>
    <table class="d-md-table-cell " style="width: auto; float: left">
        <tr th:each="verse : ${mySong}">
            <td>
                <a th:utext="${verse.getChords_of_verse()}"></a>
            </td>
        </tr>
    </table>
</div>

<script>
    var url = window.location.href;
    var num = url.lastIndexOf('/');
    document.getElementById("songId1").value = url.substring(num+1);
</script>
<script>
    var url = window.location.href;
    var num = url.lastIndexOf('/');
    document.getElementById("songId2").value = url.substring(num+1);
</script>

</body>
<footer th:replace="fragments/layout :: footer"></footer>
</html>