<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/layout :: head"></div>
    <link href=css/bootstrap.css rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/layout :: menu"></div><br>

<form action="/myFavouriteLists" onsubmit="if (this.list_title_area.value.length < 1)
{alert('Pole tytułu dodawanej listy jest puste. Wpisz nazwę ulubionej listy.'); return false}" method="post"
      onreset="if (!confirm('Czy na pewno chcesz zresetować pole tytułu dodawanej listy?')) return false">
    <h4 style="color: #797951; text-align: center">Dodaj nową listę ulubionych piosenek</h4>
    <p style="text-align: center"><input type="reset"/> <input type="submit" value="Dodaj listę"/></p>
    <fieldset>
        <div id="form-wrapper" style="max-width: 75%; margin:auto;">
            <table class="table table-hover" style="float: top; text-align: center">
                <tr>
                    <td>
                        <p><em><strong>Tytuł nowej listy:</strong></em></p>
                    </td>
                    <td>
                        <input type="text" placeholder="Tutaj wpisz tytuł nowej listy" size="60" name="list_title_area"/>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</form>
<h4 class="text-lg-left" style="margin-left: 200px"> Twoje listy:</h4>
<table class="table table-hover" style="width: 30%; float: left; text-align: center; margin-left: 50px">
    <tr th:each="favourite : ${favLists}">
        <td >
            <a style="color: black" th:utext="${favourite}" ></a>
            <!--th:href="@{/myFavouriteLists/{name}(name=${Favourite.getName()})}"-->
        </td>
    </tr>
</table>
</body>
<footer th:replace="fragments/layout :: footer"></footer>
</html>


